/[Cc]ontent/MetaHumans/
/[Cc]ontent/Characters/
/[Cc]ontent/LevelPrototyping/
/[Cc]ontent/ThirdPerson/
/[Cc]ontent/__ExternalActors__/
/[Cc]ontent/__ExternalObjects__/

Plugins
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

